<form class="mx-4 my-2 login-form border border-primary rounded-3 text-primary p-2">
    <h5 class="ms-3">Login</h5>

    <div class="ms-3">
        <label for="email-login" class="form-label">Email adress</label>
        <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
    </div>

    <div class="ms-3">
        <label for="password-login" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-login">
    </div>

    <button type="submit" class="btn btn-primary m-3">Submit</button>

</form>

<h2 class="ms-3">Signup</h2>
<form class="mx-4 my-2 signup-form border border-primary rounded-3 text-primary p-2">

    <div class="ms-3">
        <label for="name-signup" class="form-label">Name</label>
        <input type="text" class="form-control" id="email-signup">
    </div>

    <div class-"ms-3">
        <label for="email-signup" class="form-label">Email address</label>
        <input type="email" class="form-control" id-"email-signup" aria-describedby="emailHelp">
    </div>

    <div class="ms-3">
        <label for="password-signup" class="form-label">Password(must have at least 8 character)</label>
        <input type="password" class="form-control" id="password-signup">
    </div>

    <button type="submit" class="btn btn-primary m-4">Submit</button>
</form>

<script src="/public/js/login.js"></script>