<form class="mx-4 my-2 login-form">

    <div class="mb-3">
        <label for="email-login" class="form-label">Email adress</label>
        <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="password-login" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-login">
    </div>

    <button type="submit" class="btn btn-light">Submit</button>

</form>

<script src="/public/js/login.js"></script>