<div class="card w-80 m-4">

    <div class="card-header">
        <h5>{{title}}</h5>
        <h4 class="card-subtitle mb-2 text-muted">Posted by {{user.name}}</h4>
    </div>

    <div class="card-body">
        <p>{{content}}</p>
    </div>

    <button class="btn btn-sm btn-primary m-4" id="updateBtn" data-id="id">Update</button>

    <button class="btn btn-sm btn-danger m-4" id="deleteBtn" data-id="id">Delete</button>
</div>

<script src="../public/js/post.js"></script>